<div class="container">

  <!-- page title -->
  <div class="d-flex justify-content-center text-white text-center">
    <div class="row">
      <div class="col-12 px-5">
        <h3>Legal</h3>

        <p class="text-secondary mb-0">
          <span class="fst-italic">
            "Privacy & Security, Legal, Terms and Trademarks"
          </span>
        </p>
      </div>
    </div>
  </div><!-- / page title -->

  <!-- horizontal line -->
  <div class="container text-light mt-0">
    <hr />
  </div><!-- / horizontal line -->

  <!-- accordion -->
  <div class="accordion-flush bg-transparent border border-light rounded text-white">

    <!-- terms of use -->
    <div class="accordion-item border border-secondary">

      <!-- header -->
      <h3 class="accordion-header"
          id="headingOne">

        <button class="accordion-button text-white bg-transparent"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseOne"
                aria-expanded="false"
                aria-controls="collapseOne">
          <span class="animated-link">Terms of use</span>
        </button>

      </h3><!-- / header -->

      <!-- content -->
      <div id="collapseOne"
           class="accordion-collapse collapse show"
           aria-labelledby="headingOne">
        <div class="accordion-body">

          <section>
            <h3 class="fw-bold">
              <span>Acceptance of Terms</span>
            </h3>
            <p>
              <span>
                The services that we provide to you are subject to the following
                Terms of Use ("TOU"). We reserve the right to update the TOU at
                any time without notice to you. The most current version of the
                TOU can be reviewed by clicking on the "Terms of Use" hypertext
                link located at the bottom of our Web pages.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>Description of services</span>
            </h3>
            <p>
              <span>
                Our main service is to provide you with access to a variety of
                resources, including developer tools, download areas, product
                information (collectively "Services"). The Services, including
                any updates, enhancements, new features, and/or the addition of
                any new Web properties, are subject to the TOU.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>Notice Specific to Documents Available on this Website</span>
            </h3>
            <p>
              <span>
                Permission to use Documents (such as white papers, press
                releases,  datasheets and FAQs) from the Services is granted,
                provided that (1) the below copyright notice appears in all
                copies and that both the copyright notice and this permission
                notice appear, (2) use of such Documents from the Services is
                for informational and non-commercial or personal use only and
                will not be copied or posted on any network computer or
                broadcast in any media, and (3) no modifications of any
                Documents are made. Accredited educational institutions, such
                as K-12, universities, private/public colleges, and state
                community colleges, may download and reproduce the Documents
                for distribution in the classroom. Distribution outside the
                classroom requires express written permission. Use for any other
                purpose is expressly prohibited by law, and may result in severe
                civil and criminal penalties. Violators will be prosecuted to
                the maximum extent possible.
              </span>
            </p>
            <p>
              <span>
                DAWHostServices AND/OR ITS RESPECTIVE SUPPLIERS MAKE NO
                REPRESENTATIONS ABOUT THE SUITABILITY OF THE INFORMATION
                CONTAINED IN THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED
                AS PART OF THE SERVICES FOR ANY PURPOSE. ALL SUCH DOCUMENTS
                AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY
                OF ANY KIND. DAWHostServices AND/OR ITS RESPECTIVE SUPPLIERS
                HEREBY DISCLAIM  ALL WARRANTIES AND CONDITIONS WITH REGARD
                TO THIS INFORMATION, INCLUDING ALL WARRANTIES AND CONDITIONS
                OF MERCHANTABILITY, WHETHER EXPRESS, IMPLIED OR STATUTORY,
                FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.
                IN NO EVENT SHALL DAWHostServices AND/OR ITS RESPECTIVE
                SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL
                DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE,
                DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE
                OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH
                THE USE OR PERFORMANCE OF INFORMATION AVAILABLE FROM THE
                SERVICES.
              </span>
            </p>
            <p>
              <span>
                THE DOCUMENTS AND RELATED GRAPHICS PUBLISHED ON THE SERVICES
                COULD INCLUDE TECHNICAL INACCURACIES OR TYPOGRAPHICAL ERRORS.
                CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN.
                DAWHostServices AND/OR ITS RESPECTIVE SUPPLIERS MAY MAKE
                IMPROVEMENTS AND/OR CHANGES IN THE PRODUCT(S) AND/OR THE
                PROGRAM(S) DESCRIBED HEREIN AT ANY TIME.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>
                Notices Regarding Software, Documents, and
                Services Available on this Website
              </span>
            </h3>
            <p>
              <span>
                IN NO EVENT SHALL DAWHostServices AND/OR ITS RESPECTIVE
                SUPPLIERS BE LIABLE FOR ANY SPECIAL, INDIRECT OR CONSEQUENTIAL
                DAMAGES OR ANY DAMAGES WHATSOEVER RESULTING FROM LOSS OF USE,
                DATA OR PROFITS, WHETHER IN AN ACTION OF CONTRACT, NEGLIGENCE
                OR OTHER TORTIOUS ACTION, ARISING OUT OF OR IN CONNECTION WITH
                THE USE OR PERFORMANCE OF SOFTWARE, DOCUMENTS, PROVISION OF OR
                FAILURE TO PROVIDE  SERVICES, OR INFORMATION AVAILABLE FROM
                THE SERVICES.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>Member Account, Password, and Security</span>
            </h3>
            <p>
              <span>
                If any of the Services requires you to open an account, you
                must complete the registration process by providing us with
                current, complete and accurate information as prompted by the
                applicable registration form. You also will choose a password
                and a user name. You are entirely responsible for maintaining
                the confidentiality of your password and account. Furthermore,
                you are entirely responsible for any and all activities that
                occur under your account. You agree to notify DAWHostServices
                immediately of any unauthorized use of your account or any
                other breach of security. DAWHostServices will not be liable
                for any loss that you may incur as a result of someone else
                using your password or account, either with or without your
                knowledge. However, you could be held liable for losses incurred
                by DAWHostServices or another party due to someone else using
                your account or password. You may not use anyone else's account
                at any time, without the permission of the account holder.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>Requesting Refunds</span>
            </h3>
            <p>
              <span>
                Be careful to thoroughly review your items before proceeding
                with the payment process. Once approved, all payments are
                considered final. After approving a payment request, you cannot
                request a refund from DAWHostServices for any reason. However
                you can cancel your subscription in any time: all the services
                you paid for, will be available till expiration date.
              </span>
            </p>
            <p>
              <span>
                You are responsible for all actions taken and all resources
                spun up within your DAWHostServices environment.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>No Unlawful or Prohibited Use</span>
            </h3>
            <p>
              <span>
                As a condition of your use of the Services, you will not use
                the Services for any purpose that is unlawful or prohibited
                by these terms, conditions, and notices. You may not use the
                Services in any manner that could damage, disable, overburden,
                or impair any DAWHostServices server, or the network(s)
                connected to any DAWHostServices server, or interfere with any
                other party's use and enjoyment of any Services. You may not
                attempt to gain unauthorized access to any Services, other
                accounts, computer systems or networks connected  to any
                DAWHostServices server or to any of the Services, through hacking,
                password mining or any other means. You may not obtain or attempt
                to obtain any materials or information through any means not
                intentionally made available through the Services.
              </span>
            </p>
          </section>

          <section>
            <h3 class="fw-bold">
              <span>Links to Third Party Sites</span>
            </h3>
            <p>
              <span>
                THE LINKS IN THIS AREA WILL LET YOU LEAVE DAWHostServices'S SITE.
                THE LINKED SITES ARE NOT UNDER THE CONTROL OF DAWHostServices AND
                DAWHostServices IS NOT RESPONSIBLE FOR THE CONTENTS OF ANY LINKED
                SITE OR ANY LINK CONTAINED IN A LINKED SITE, OR ANY CHANGES OR
                UPDATES TO SUCH SITES. DAWHostServices IS NOT RESPONSIBLE FOR
                WEBCASTING OR ANY OTHER FORM OF TRANSMISSION RECEIVED FROM ANY
                LINKED SITE. DAWHostServices IS PROVIDING THESE LINKS TO YOU ONLY
                AS A CONVENIENCE, AND THE INCLUSION OF ANY LINK DOES NOT IMPLY
                ENDORSEMENT BY DAWHostServices OF THE SITE.
              </span>
            </p>
          </section>

        </div>
      </div>
    </div><!-- / terms of use -->

    <!-- trademarks -->
    <div class="accordion-item border border-secondary">

      <!-- header -->
      <h3 class="accordion-header"
          id="headingTwo">
        <button class="accordion-button text-white bg-transparent collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseTwo"
                aria-expanded="false"
                aria-controls="collapseTwo">
          <span class="animated-link">Trademarks</span>
        </button>
      </h3><!-- / header -->

      <!-- content -->
      <div id="collapseTwo"
           class="accordion-collapse collapse"
           aria-labelledby="headingTwo">
        <div class="accordion-body">
          <ul>
            <li>
              <span>Daw Host Services</span>
            </li>
            <li>
              <span>DWH</span>
            </li>
            <li>
              <span>DAW Cloud</span>
            </li>
            <li>
              <span>DAWC</span>
            </li>
            <li>
              <span>DAW Servers</span>
            </li>
            <li>
              <span>DAWS</span>
            </li>
            <li>
              <span>DAW Storage Services</span>
            </li>
            <li>
              <span>Daw Database</span>
            </li>
            <li>
              <span>Gmail API</span>
            </li>
            <li>
              <span>Apache PDF Box</span>
            </li>
            <li>
              <span>Arbor Solutions</span>
            </li>
            <li>
              <span>Twitter</span>
            </li>
            <li>
              <span>Facebook</span>
            </li>
            <li>
              <span>LinkedIn</span>
            </li>
            <li>
              <span>YouTube</span>
            </li>
          </ul>
        </div>
      </div><!-- / content -->

    </div><!-- / trademarks -->

    <!-- legal stuff -->
    <div class="accordion-item border border-secondary">

      <!-- header -->
      <h3 class="accordion-header"
          id="headingThree">
        <button class="accordion-button text-white bg-transparent collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseThree"
                aria-expanded="false"
                aria-controls="collapseThree">
          <span class="animated-link">Legal stuff</span>
        </button>
      </h3><!-- / header -->

      <!-- content -->
      <div id="collapseThree"
           class="accordion-collapse collapse"
           aria-labelledby="headingThree">
        <div class="accordion-body">
          <section>
            <h3 class="fw-bold">Service Agreement & Terms</h3>
            <p>
              <span>
                Your use of the DAWHostServices is governed by the terms
                and conditions of the agreement under which you obtained
                the services.
              </span>
            </p>
            <ul>
              <li>
                <span>
                  <span class="fw-bold">a. Right to use.</span> We grant you the
                  right to  access and use the Online Services and to install and
                  use the Software included with your Subscription, as
                  further described in this agreement. We reserve all other
                  rights.
                </span>
              </li>
              <li>
                <span>
                  <span class="fw-bold">b. Acceptable use.</span> You may use
                  the Product  only in accordance with this agreement. You may
                  not reverse engineer, decompile, disassemble, or work around
                  technical limitations in the Product, except to the extent
                  applicable law permits it despite these limitations. You
                  may not disable, tamper with, or otherwise attempt to
                  circumvent any billing mechanism that meters your use of
                  the Online Services. You may not rent, lease, lend, resell,
                  transfer, or host the Product, or any portion thereof, to or
                  for third parties except as expressly permitted in this
                  agreement.
                </span>
              </li>
              <li>
                <span>
                  <span class="fw-bold">c. End Users.</span> You control access
                  by End Users,  and you are responsible for their use of the
                  Product in accordance with this agreement. For example, you
                  will ensure End Users comply with the Acceptable Use Policy.
                </span>
              </li>
              <li>
                <span>
                  <span class="fw-bold">d. Customer Data.</span> You are solely
                  responsible for the content of all Customer Data. You will
                  secure and  maintain all rights in Customer Data necessary for
                  us to provide the Services to you without violating the rights
                  of any third party or otherwise obligating DAWHostServices to
                  you or to any third party. DAWHostServices does not and will
                  not assume any obligations with respect to Customer Data or
                  to your use of the Product other than as expressly set forth
                  in this agreement or as required by applicable law.
                </span>
              </li>
              <li>
                <span>
                  <span class="fw-bold">e. Responsibility for your accounts.</span>
                  You are  responsible for maintaining the confidentiality of any
                  non-public  authentication credentials associated with your use
                  of the  Services. You must promptly notify our customer support
                  team  about any possible misuse of your accounts or authentication
                  credentials or any security incident related to the Services.
                </span>
              </li>
              <li>
                <span>
                  <span class="fw-bold">f. Agreement term and termination.</span>
                  This agreement  will remain in effect until the expiration,
                  termination, or renewal of your Subscription, whichever is
                  earliest.
                </span>
              </li>
              <li>
                  <span>
                    <span class="fw-bold">g. Subscription termination.</span> You may
                    terminate a Subscription at any time during its Term; however,
                    you must pay all amounts due and owing before the termination is
                    effective.
                  </span>
              </li>
            </ul>
          </section>
        </div>
      </div><!-- / content -->

    </div><!-- / legal stuff -->

    <!-- privacy policy -->
    <div class="accordion-item border border-secondary">

      <!-- header -->
      <h3 class="accordion-header"
          id="headingFour">
        <button class="accordion-button bg-success text-white bg-transparent collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#collapseFour"
                aria-expanded="false"
                aria-controls="collapseFour">
          <span class="animated-link">Privacy Policies</span>
        </button>
      </h3><!-- / header -->

      <!-- content -->
      <div id="collapseFour"
           class="accordion-collapse collapse"
           aria-labelledby="headingFour">
        <div class="accordion-body">
          <p>
            <span>
              At DAWHostServices, one of our main priorities is the
              privacy of our visitors. This Privacy Policy document
              contains types of information that is collected and
              recorded by DAWHostServices and how we use it.
              By using our website, you hereby consent to our Privacy
              Policy and agree to its terms. The personal information
              that you are asked to provide, and the reasons why you
              are asked to provide it, will be made clear to you at
              the point we ask you to provide your personal information.
              When you register for an Account, we may ask for your
              contact information, including items such as name,
              company name, address, email address, and telephone number.
            </span>
          </p>
        </div>
      </div><!-- / content -->

    </div><!-- / privacy policy -->

  </div><!-- / accordion -->
</div>
