<div class="container mt-5 text-light">
  <div class="row">
    <div class="col-12 text-center text-white">
      <!-- heading -->
      <section>
        <h3>Select the plan for your application needs</h3>
        <p class="text-secondary">
          <i>No other plan offers more choice. With multiple configurations, you’re sure to find the right performance at the right price.</i>
        </p>
      </section><!-- / heading -->
      <nav>
        <!-- category selector -->
        <div class="nav nav-tabs d-flex justify-content-center align-items-center" role="tablist">
          <button (click)="switchToCategory('shared')"
                  class="nav-link mx-1 bg-transparent text-white active"
                  type="button"
                  data-bs-toggle="tab"
                  data-bs-target="#"
                  role="tab"
                  aria-selected="true"
                  style="width: 220px;">
            <i class="bi bi-share text-light"></i>
            <span>&nbsp;</span>
            <span>Shared Server</span>
          </button>
          <button (click)="switchToCategory('vps')"
                  class="nav-link mx-1 bg-transparent text-white"
                  type="button"
                  data-bs-toggle="tab"
                  data-bs-target="#"
                  role="tab"
                  aria-selected="false"
                  style="width: 220px;">
            <i class="bi bi-hdd text-light"></i>
            <span>&nbsp;</span>
            <span>Virtual Private Server</span>
          </button>
          <button (click)="switchToCategory('dedicated')"
                  class="nav-link mx-1 bg-transparent text-white"
                  type="button"
                  data-bs-toggle="tab"
                  data-bs-target="#nav-profile"
                  role="tab"
                  aria-selected="false"
                  style="width: 220px;">
            <i class="bi bi-hdd-rack text-light"></i>
            <span>&nbsp;</span>
            <span>Dedicated Server</span>
          </button>
        </div><!-- / category selector -->
      </nav>
      <!-- pricing -->
      <div class="mt-4">
        <!-- monthly price  -->
        <div class="row">
          <div class="col-12">
            <span style="font-size: 50px;">${{selectedProduct.price}}</span>
            <span style="font-size: 16px;">/MO</span>
          </div>
        </div><!-- / monthly price  -->
        <!-- hourly price  -->
        <div class="row">
          <div class="col-12">
            <small class="d-flex justify-content-center text-secondary">
              <span>${{selectedProduct.hourlyPrice}}</span>
              <span>/hr</span>
            </small>
          </div>
        </div><!-- / hourly price  -->
        <!-- configuration selector  -->
        <div class="row">
          <div class="d-flex justify-content-center col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mx-auto px-5 mb-2">
            <div class="input-group mb-3 px-4">
              <label class="form-label">&nbsp;</label>
              <input [(ngModel)]="selectedProductIndex"
                     (ngModelChange)="selectProduct()"
                     type="range"
                     class="form-range custom-range"
                     min="0"
                     max="{{lastProductIndex}}"
                     step="1.0">
            </div>
          </div>
        </div><!-- / configuration selector  -->
        <!-- specs -->
        <div class="row">
          <div class="d-flex justify-content-center col mx-auto mb-4">
            <div class="mx-2">
              <span class="fw-bold">{{selectedProduct.ram}}</span>
              <span>&nbsp;</span>
              <span>RAM</span>
            </div>
            <div class="mx-2">
              <span class="fw-bold">{{selectedProduct.cores}}</span>
              <span>&nbsp;</span>
              <span>CORE</span>
            </div>
            <div class="mx-2">
              <span class="fw-bold">{{selectedProduct.storage}}</span>
              <span>&nbsp;</span>
              <span>SSD</span>
            </div>
            <div class="mx-2">
              <span class="fw-bold">{{selectedProduct.transfer}}</span>
              <span>&nbsp;</span>
              <span>Transfer</span>
            </div>
          </div>
        </div><!-- / specs -->
        <!-- info  -->
        <div class="row justify-content-center mx-auto">
          <div class="col-6 mb-3 px-5">
            <span>
                Servers suitable for <i>all kinds of purposes</i>, testing,
                CI/CD, web serving and also for high computational needs.
            </span>
          </div>
        </div>
        <!-- purchase  -->
        <div class="row">
          <div class="col mx-auto mb-2 d-flex align-items-center justify-content-center">
            <button id="pricing-spec-purchase-shared" type="button" class="btn btn-outline-light">
              <i class="bi bi-cart-plus"></i>
              <span>&nbsp;</span>
              <span>Buy now</span>
            </button>
          </div>
        </div><!-- / purchase  -->
      </div><!-- / pricing -->
    </div>
  </div>
</div>
