/*
 * Pricing
 */

/* < range slider > */

input[type=range]::-webkit-slider-thumb {
 -webkit-appearance: none;
  background:  #fff;
  cursor: pointer;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background:  #fff;
  cursor: pointer;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background:  #262b3f;
  cursor: pointer;
}

/* < range slider > */