<!-- page title -->
<div class="d-flex justify-content-center text-white text-center">
  <div class="row">
    <div class="col-12 px-5">
      <h3>
        <span>My Services</span>
      </h3>
      <p class="text-secondary mb-0">
        <span class="fst-italic">
          "Manage your services easily from
          this user panel, click renew and enjoy!"
        </span>
      </p>
    </div>
  </div>
</div><!-- / page title -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- hired services -->
<div class="row px-5 mx-0">
  <div class="col-12">
    <table class="table table-bordered border-secondary text-white text-center">

      <!-- table header -->
      <thead>
      <tr>
        <th scope="col">
          <div class="d-flex align-items-center justify-content-center" style="height: 50px">
            Service
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center justify-content-center" style="height: 50px">
            Configuration
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center justify-content-center" style="height: 50px">
            Manage
          </div>
        </th>
        <th scope="col">
          <div class="d-flex align-items-center justify-content-center" style="height: 50px">
            Expiration Date
          </div>
        </th>
      </tr>
      </thead><!-- / table header -->

      <tbody>

      <!-- concrete service -->
      <tr>
        <th scope="row">
          <i class="bi bi-share align-middle text-light"></i>
          <span class="fw-normal align-middle">Shared Server</span>
        </th>
        <td>
          <ul class="list-inline my-0">
            <li class="list-inline-item align-middle">
              <span class="fw-bold">1 GB</span>
              <span class="fw-normal">RAM</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">2 vCPU</span>
              <span class="fw-normal">CORE</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">32 GB</span>
              <span class="fw-normal">STORAGE</span>
            </li>
            <li class="list-inline-item align-middle text-purple">
              <span class="fw-bold">1 TB</span>
              <span class="fw-normal">TRANSFER</span>
            </li>
          </ul>
        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <a routerLink="/service" type="button" class="btn btn-outline-light">View</a>
          </div>
        </td>
        <td>
          <div>
            <span>Feb 10, 2022</span>
          </div>
        </td>
      </tr><!-- / concrete service -->

      <!-- concrete service -->
      <tr>
        <th scope="row">
          <i class="bi bi-hdd align-middle text-light"></i>
          <span class="fw-normal align-middle">Virtual Private Server</span></th>
        <td>
          <ul class="list-inline my-0">
            <li class="list-inline-item align-middle">
              <span class="fw-bold">1 GB</span>
              <span class="fw-normal">RAM</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">1 vCPU</span>
              <span class="fw-normal">CORE</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">128 GB</span>
              <span class="fw-normal">STORAGE</span>
            </li>
            <li class="list-inline-item align-middle text-purple">
              <span class="fw-bold">1 TB</span>
              <span class="fw-normal">TRANSFER</span>
            </li>
          </ul>
        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <a routerLink="/service" type="button" class="btn btn-outline-light">View</a>
          </div>
        </td>
        <td>
          <div>
            <span>Nov 21, 2022</span>
          </div>
        </td>
      </tr><!-- / concrete service -->

      <!-- concrete service -->
      <tr>
        <th scope="row">
          <i class="bi bi-hdd-rack align-middle text-light"></i>
          <span class="fw-normal align-middle">Virtual Private Server</span>
        </th>
        <td>
          <ul class="list-inline my-0">
            <li class="list-inline-item align-middle">
              <span class="fw-bold">16 GB</span>
              <span class="fw-normal">RAM</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">6 CPU</span>
              <span class="fw-normal">CORE</span>
            </li>
            <li class="list-inline-item align-middle">
              <span class="fw-bold">2 TB</span>
              <span class="fw-normal">STORAGE</span>
            </li>
            <li class="list-inline-item align-middle text-purple">
              <span class="fw-bold">25 TB</span>
              <span class="fw-normal">TRANSFER</span>
            </li>
          </ul>
        </td>
        <td>
          <div class="btn-group btn-group-sm" role="group">
            <a routerLink="/service" type="button" class="btn btn-outline-light">View</a>
          </div>
        </td>
        <td>
          <div>
            <span>Jan 18, 2022</span>
          </div>
        </td>
      </tr><!-- / concrete service -->

      </tbody>

    </table>

    <!-- load more button -->
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="load-more-button btn btn-sm btn-outline-light" data-daw-loading-element="loading-more">
          <i class="bi bi-plus-circle"></i>
          <span class="align-middle">Load more</span>
        </button>
      </div>
    </div><!-- / load more button -->

    <!-- load more button -->
    <div id="loading-more" class="row d-none">
      <div class="col-12 text-center text-white">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div><!-- / load more button -->

  </div>

</div><!-- / hired services -->
