<!-- announcements -->
<div id="announcement-carousel" class="carousel slide" data-bs-ride="carousel">

  <!-- slide indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-bs-target="#announcement-carousel" data-bs-slide-to="0"></li>
    <li data-bs-target="#announcement-carousel" data-bs-slide-to="1"></li>
    <li data-bs-target="#announcement-carousel" data-bs-slide-to="2"></li>
  </ol><!-- /slide indicators -->

  <!-- announcement items -->
  <div class="carousel-inner">

    <!-- developer cloud announcement -->
    <div class="carousel-item active">
      <div class="container p-5">
        <div class="row">

          <!-- image -->
          <div class="col-sm-12 col-xl-6">
            <div class="slide-image text-center">
              <img class="img-responsive w-75" src="./assets/img/carousel-1.svg"/>
            </div>
          </div><!-- / image -->

          <!-- content -->
          <div class="col-sm-12 col-xl-6 mt-2 text-white text-center">
            <div class="slide-content">
              <h2>
                <span>Welcome to the developer cloud!</span>
              </h2>
              <p class="px-1">
                <span>
                  We make it simple for you to launch in the cloud and
                  scale up - with an amazing support, intuitive control
                  panel, and more.
                </span>
              </p>
              <a routerLink="/screenshots" class="btn btn-sm btn-outline-light" role="button">
                <span>See screenshots</span>
              </a>
            </div>
          </div><!-- / content -->

        </div>
      </div>
    </div><!-- / developer cloud announcement -->

    <!-- deploy and scale announcement -->
    <div class="carousel-item">
      <div class="container p-5">
        <div class="row">

          <!-- image -->
          <div class="col-sm-12 col-xl-6">
            <div class="slide-image text-center">
              <img class="img-responsive w-75" src="./assets/img/carousel-2.svg"/>
            </div>
          </div><!-- / image -->

          <!-- content -->
          <div class="col-sm-12 col-xl-6 mt-2 text-white text-center">
            <div class="slide-content">
              <h2>
                <span>Deploy and scale seemlessly</span>
              </h2>
              <p class="px-1">
                <span>
                  Our optimized configuration process saves your team time
                  and effort when running and scaling distributed server
                  instances, the scaling takes up seconds.
                </span>
              </p>
              <a routerLink="/pricing" class="btn btn-sm btn-outline-light" role="button">
                <span>Check Pricing</span>
              </a>
            </div>
          </div><!-- / content -->

        </div>
      </div>
    </div><!-- / deploy and scale announcement -->

    <!-- business announcement -->
    <div class="carousel-item">
      <div class="container p-5">
        <div class="row">

          <!-- image -->
          <div class="col-sm-12 col-xl-6">
            <div class="slide-image text-center">
              <img
                class="img-responsive w-75"
                src="./assets/img/carousel-3.svg"
              />
            </div>
          </div><!-- / image -->

          <!-- content -->
          <div class="col-sm-12 col-xl-6 mt-2 text-white text-center">
            <div class="slide-content">
              <h2>
                <span>Built for business</span>
              </h2>
              <p class="px-1">
                <span>
                  We have a reliable platform with more than 100,000
                  developer teams worldwide trust, predicable pricing,
                  world-class service (free around-the-clock technical
                  support) and security and compliance (we keep your data
                  protected).
                </span>
              </p>
              <a routerLink="/about" class="btn btn-sm btn-outline-light" role="button">
                <span>More about us</span>
              </a>
            </div>
          </div><!-- / content -->

        </div>
      </div>
    </div><!-- / business announcement -->

  </div><!-- / announcement items -->

  <!-- previous slide -->
  <a href="#announcement-carousel" class="carousel-control-prev" role="button" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </a><!-- / previous slide -->

  <!-- next slide -->
  <a href="#announcement-carousel" class="carousel-control-next" role="button" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </a><!-- / next slide -->

</div><!-- / announcements -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- infrastructure features -->
<div class="container text-light">

  <!-- brief description-->
  <div class="row">
    <div class="col-12 text-center text-white">
      <h3>
        <span>SIMPLE, RELIABLE, POWERFUL!</span>
      </h3>
      <p class="text-secondary">
        <span class="fst-italic">
          "Our my services page has been thought to make your
          life easier. It groups all the tools you need to
          manager, secure and monitor your server."
        </span>
      </p>
    </div>
  </div><!-- / brief description-->

  <!-- infrastructure features -->
  <div class="row row-cols-1 row-cols-md-3 g-4 text-center">

    <!-- anti ddos -->
    <div class="col">
      <div class="card h-100 highlight bg-grey-transparent">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-shield-check"></i>
            <span>ANTI-DDOS ARBOR &trade;</span>
          </h5>
          <p class="card-text px-3">
            <span>
              To gurantee maximum security for your servers, an anti-DDoS
              system is included with all dedicated servers. It ensures
              service continuity for your web servers or other
              applications.
            </span>
          </p>
        </div>
      </div>
    </div><!-- / anti ddos -->

    <!-- nvme -->
    <div class="col">
      <div class="card h-100 highlight bg-grey-transparent">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-speedometer"></i>
            <span>NVME DRIVES</span>
          </h5>
          <p class="card-text px-3">
            <span>
              The new technology that benefits server hosting and is
              currently superseding SATA and M.2 SSD performance, and
              part of recent upgrades to our infrastructure NVMe drives.
            </span>
          </p>
        </div>
      </div>
    </div><!-- / nvme -->

    <!-- network -->
    <div class="col">
      <div class="card h-100 highlight bg-grey-transparent">
        <div class="card-body">
          <h5 class="card-title">
            <i class="bi bi-clock-history"></i>
            <span>UNMETERED TRAFFIC</span>
          </h5>
          <p class="card-text px-3">
            <span>
              Apart from having 5GB/S GURANTEE + 1GB/S BURST default. You
              can scale up to 40GbE which is the best-in-class network
              connectivity for speed and throughput.
            </span>
          </p>
        </div>
      </div>
    </div><!-- / network -->

  </div><!-- / features container -->

</div><!-- / infrastructure features -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- media links -->
<div class="row mx-0">
  <div class="col-12 text-center text-white">
    <h3>
      <span>Follow us</span>
    </h3>
    <p class="text-secondary">
      <a href="https://twitter.com/dawhostservices"><i class="bi bi-twitter"></i></a>&nbsp;
      <a href="https://facebook.com/dawhostservices"><i class="bi bi-facebook"></i></a>&nbsp;
      <a href="https://linkedin.com/dawhostservices"><i class="bi bi-linkedin"></i></a>&nbsp;
      <a href="https://youtube.com/dawhostservices"><i class="bi bi-youtube"></i></a>&nbsp;
    </p>
  </div>
</div><!-- / media links -->
