<!-- footer -->
<footer id="footer" class="footer">

  <!-- footer container -->
  <div class="text-center text-secondary font-small pt-2">

    <!-- copyright notice -->
    <div>

      <!-- year -->
      <span>
            <span>Copyright &copy; </span>
            <span id="year"></span>
      </span><!-- / year -->

      <!-- enterprise-->
      <span class="text-light">
        DAWHostServices.
      </span><!-- / enterprise-->

      <span>All rights reserved.</span>

    </div><!-- / copyright notice -->

    <!-- extra links -->
    <div class="p-0 m-0">
      <div class="d-inline-flex justify-content-center w-100">
        <ul class="nav navbar-nav d-inline-flex">
          <li class="nav-item">
            <ul class="list-inline">

              <!-- privacy and security -->
              <li class="list-inline-item">
                <a class="nav-link" routerLink="/legal">
                  <span>Privacy & Security</span>
                </a>
              </li><!-- / privacy and security -->

              <!-- terms of use -->
              <li class="list-inline-item">
                <a class="nav-link" routerLink="/legal">
                  <span>Terms of Use</span>
                </a>
              </li><!-- / terms of use -->

              <!-- trademarks -->
              <li class="list-inline-item">
                <a class="nav-link" routerLink="/legal">
                  <span>Trademarks</span>
                </a>
              </li><!-- / trademarks -->

              <!-- legal -->
              <li class="list-inline-item">
                <a class="nav-link" routerLink="/legal">
                  <span>Legal</span>
                </a>
              </li><!-- / legal -->

              <!-- faq -->
              <li class="list-inline-item">
                <a class="nav-link" routerLink="/faq">
                  <span>FAQ</span>
                </a>
              </li><!-- / faq -->

            </ul>
          </li>
        </ul>
      </div>
    </div><!-- / extra links -->

  </div><!-- / footer container -->

</footer><!-- / footer -->
