{{> header}}

<main>
  <!-- page title -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-center text-white">
        <h3>
          <span>About Us</span>
        </h3>
        <p class="text-secondary mb-0">
          <span class="fst-italic">
            "We learn from our mistakes to improve,
            so you don't have to worry"
          </span>
        </p>
      </div>
    </div>
  </div><!-- / page title -->

  <!-- horizontal line -->
  <div class="container text-light mt-0">
    <hr />
  </div><!-- / horizontal line -->

  <!-- about us -->
  <div class="container border border-secondary rounded p-2">
    <div class="row justify-content-center me-auto">

      <!-- origins  -->
      <div class="col-lg-3 col-md-10 col-sm-10 col-10 about-box rounded-pill text-white highlight bg-grey-transparent p-1 pt-4 m-4">

        <!-- title -->
        <h5 class="text-center px-3">
          <i class="bi bi-bar-chart-steps"></i>
          <span class="animated-link">Origins</span>
        </h5><!-- title -->

        <!-- image -->
        <div class="row my-3">
          <div class="col-12 justify-content-center mx-auto text-center">
            <img class="img-responsive w-75" src="./img/about/origins.svg" style="max-height: 170px"/>
          </div>
        </div><!-- / image -->

        <div class="container">
          <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
              <div class="jumbotron text-center mb-3 pb-5">
                <span>
                  One day, we wanted server space for our own
                  project we were doing, so we set out to do
                  so. We couldn't find any website which was
                  reliable to rent the type of server that we
                  wanted. So after that experience, we wanted
                  to ensure that nobody else would go through
                  the same pain as us. We started with some
                  few ideas, some failed, some worked out, but
                  this is our final product. This is how our
                  company <span class="fw-bold">DAWHostServices
                  was born.</span>
                </span>
              </div>
            </div>
          </div>
        </div>

      </div><!-- / origins -->

      <!-- present -->
      <div class="col-lg-3 col-md-10 col-sm-10 col-10 about-box rounded-pill text-white highlight bg-grey-transparent p-1 pt-4 m-4">

        <!-- title -->
        <h5 class="text-center px-3">
          <i class="bi bi-clock"></i>
          <span class="animated-link">Present</span>
        </h5><!-- title -->

        <!-- image -->
        <div class="row my-3">
          <div class="col-12 justify-content-center mx-auto text-center">
            <img class="img-responsive w-75" src="./img/about/present.svg" style="max-height: 170px"/>
          </div>
        </div><!-- / image -->

        <div class="container">
          <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
              <div class="jumbotron text-center mb-3 pb-5">
                <span>
                  This website has our hearts put into it. We
                  want to sell the best experience possible
                  when renting server space, in other words,
                  <span class="fw-bold">fast, reliable and great
                  </span>. It is so that our servers are at a great
                  price. So if you are thinking about renting some
                  server space, look no further, because you will
                  not find a better place! We have hundreds of
                  companies giving the same services, so what does
                  make us stand out from the competition? Our range
                  of configurations.
                </span>
              </div>
            </div>
          </div>
        </div>

      </div><!-- / present -->

      <!-- future -->
      <div class="col-lg-3 col-md-10 col-sm-10 col-10 about-box rounded-pill text-white highlight bg-grey-transparent p-1 pt-4 m-4">

        <!-- title -->
        <h5 class="text-center px-3">
          <i class="bi bi-hand-index"></i>
          <span class="animated-link">Future</span>
        </h5><!-- title -->

        <!-- image -->
        <div class="row my-3">
          <div class="col-12 justify-content-center mx-auto text-center">
            <img class="img-responsive w-75" src="./img/about/future.svg" style="max-height: 170px"/>
          </div>
        </div><!-- / image -->

        <div class="container">
          <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
              <div class="jumbotron text-center mb-3 pb-5">
                <span>
                  We have plans to offer a wider range of
                  servers. Because in this age of ever-changing
                  technology, everyone has to adapt, and we
                  are no exception. Our motto is
                  <span class="fw-bold">Fail, Learn, Adapt and
                  Success</span>. Firstly, we will encounter
                  problems from which we need to learn. After
                  the fact, with our new founded knowledge we
                  can adapt ourselves to provide a better service
                  and succeed in our company goals, which is
                  the satisfaction of our clients by renting
                  ever-improving servers.
                </span>
              </div>
            </div>
          </div>
        </div>

      </div><!-- / future -->

    </div>

    <!-- reach us -->
    <div class="row px-5 mt-2 py-0 m-0">
      <div class="col-12 px-5 py-0 text-center text-white">

        <!-- title -->
        <h5>
          <i class="bi bi-question-circle"></i>
          <span class="animated-link">Reach us at</span>
        </h5><!-- / title -->
        <p>
          <span class="fw-light">dawhostservices@gmail.com</span>
        </p>
      </div>
    </div><!-- / reach us -->

  </div><!-- / about us -->

</main>

{{> footer}}
