<div id="flash" class="mx-5">

<div class="alert text-center bg-transparent border border-1 mx-5 rounded {{#success}}alert-success border-success text-success{{/success}} {{#danger}}alert-danger border-danger text-danger{{/danger}} {{#info}}alert-info border-info text-info{{/info}} alert-dismissible fade show" role="alert">
    {{#spinner}}
    <div id="flash-spinner" class="spinner-grow spinner-grow-sm {{#success}}text-success{{/success}} {{#danger}}text-danger{{/danger}} {{#info}}text-info{{/info}}" role="status">
        <span class="visually-hidden">Loading...</span>
    </div>
    {{/spinner}}
    <strong>{{message}}</strong>
</div>

</div>