<!-- scripts -->
<script src="/js/bootstrap.bundle.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="/js/main.js"></script>

{{#isAbout}}
    <script src="/js/about.js"></script>
{{/isAbout}}

{{#isFaq}}
    <script src="/js/faq.js"></script>
{{/isFaq}}

{{#isHome}}
    <script src="/js/home.js"></script>
{{/isHome}}

{{#isLegal}}
    <script src="/js/legal.js"></script>
{{/isLegal}}

{{#isLogin}}
    <script src="/js/login.js"></script>
{{/isLogin}}

{{#isPanel}}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="/js/panel.js"></script>
{{/isPanel}}

{{#isPricing}}
    <script src="/js/pricing.js"></script>
{{/isPricing}}

{{#isRegister}}
    <script src="/js/register.js"></script>
{{/isRegister}}

{{#isService}}
    <script src="/js/service.js"></script>
{{/isService}}

{{#isServices}}
    <script src="/js/services.js"></script>
{{/isServices}}

{{#isHome}}
    <script src="/js/home.js"></script>
{{/isHome}}

{{#isProfile}}
    <script src="/js/profile.js"></script>
{{/isProfile}}

<!-- / scripts -->

</div><!-- / content wrapper -->

<!-- footer -->
<footer class="footer">

    <!-- footer container -->
    <div class="text-center text-secondary font-small pt-2">

        <!-- copyright notice -->
        <div>

            <!-- year -->
            <span>
            <span>Copyright &copy;</span>
            <script>document.write(new Date().getFullYear());</script>
          </span><!-- / year -->

            <!-- enterprise-->
            <span class="text-light">
            DAWHostServices
          </span><!-- / enterprise-->

            <span>. All rights reserved.</span>

        </div><!-- / copyright notice -->

        <!-- extra links -->
        <div class="p-0 m-0">
            <div class="d-inline-flex justify-content-center w-100">
                <ul class="nav navbar-nav d-inline-flex">
                    <li class="nav-item">
                        <ul class="list-inline">

                            <!-- privacy and security -->
                            <li class="list-inline-item">
                                <a onclick="location.href='/legal';" class="nav-link" href="#">
                                    <span>Privacy & Security</span>
                                </a>
                            </li><!-- / privacy and security -->

                            <!-- terms of use -->
                            <li class="list-inline-item">
                                <a onclick="location.href='/legal';" class="nav-link" href="#">
                                    <span>Terms of Use</span>
                                </a>
                            </li><!-- / terms of use -->

                            <!-- trademarks -->
                            <li class="list-inline-item">
                                <a onclick="location.href='/legal';" class="nav-link" href="#">
                                    <span>Trademarks</span>
                                </a>
                            </li><!-- / trademarks -->

                            <!-- legal -->
                            <li class="list-inline-item">
                                <a onclick="location.href='/legal';" class="nav-link" href="#">
                                    <span>Legal</span>
                                </a>
                            </li><!-- / legal -->

                            <!-- faq -->
                            <li class="list-inline-item">
                                <a onclick="location.href='/faq';" class="nav-link" href="#">
                                    <span>FAQ</span>
                                </a>
                            </li><!-- / faq -->

                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- / extra links -->

    </div><!-- / footer container -->

</footer><!-- / footer -->

</body>

</html>