{{> header}}

<main>

<!-- center -->
<div class="container">
  <div class="row align-items-center justify-content-center text-center pt-5">
    <div class="col-12 mb-2 text-white">
      <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-12 col-12 mx-auto px-5 mb-2 d-flex align-items-center justify-content-center">

          <!-- login box -->
          <div class="centered-box card w-100">

            <!-- title -->
            <h3 class="card-title mt-3 mb-0">
              <i class="bi bi-person"></i>
              <span>Account</span>
            </h3><!-- / title -->

            <!-- body -->
            <div class="card-body">

                <!-- flash message -->
              <p>
              <small id="flash-message" class="text-danger fw-bold">
                  {{#error}}
                      {{error}}
                  {{/error}}
              </small>
              </p><!-- / flash message -->

              <p>Please, Sign in with existing account</p>

              <!-- form inputs -->
              <div class="input-group mb-3 px-4">
                <span class="input-group-text bg-transparent text-white" id="username-label">
                  <i class="bi bi-at"></i>
                </span>
                <input id="username" type="text" class="form-control" placeholder="Email"
                       aria-label="Username" aria-describedby="username-label">
              </div>

              <div class="input-group mb-3 px-4">
                <span class="input-group-text bg-transparent text-white" id="password-label">
                  <i class="bi bi-key-fill"></i>
                </span>
                <input id="password" type="password" class="form-control" placeholder="Password"
                       aria-label="Username" aria-describedby="password-label">
              </div><!-- / form inputs -->

              <p class="card-text">
                <span>Or, you may want to</span>
                <a onclick="location.href='/register';" class="fw-bold" href="#">create a new account</a>
              </p>

              <button id="login-button" type="button" class="btn btn-sm btn-outline-light w-25">
                Login
              </button>
            </div><!-- / body -->

          </div><!-- / login box -->

        </div>
      </div>
    </div>
  </div>
</div><!-- / center -->

</main>

{{> footer}}