{{> header}}

<main class="px-4">

<!-- page title -->
<div class="d-flex justify-content-center text-white text-center">
  <div class="row">
    <div class="col-12 px-5">
      <h3>
        <span>Jack Sparrow</span>
        <span>Profile</span>
      </h3>
      <p class="text-secondary mb-0">
        <span class="fst-italic">
          "Change your avatar and personal details
          in the most easy way!"
        </span>
      </p>
    </div>
  </div>
</div><!-- / page title -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- profile info-->
<div class="container border border-secondary rounded p-2">
  <div class="row justify-content-center me-auto">

    <!-- personal information -->
    <div class="col-lg-5 col-md-10 col-sm-10 col-10 border border-light rounded p-1 pt-4 m-4 text-white">

      <!-- title -->
      <h5 class="text-center px-3">
        <i class="bi bi-person-lines-fill"></i>
        <span class="animated-link">Personal Information</span>
      </h5><!-- title -->

      <div class="container">
        <div class="row align-items-center h-100">
          <div class="col-12 mx-auto">
            <div class="jumbotron text-center">

              <!-- personal info box -->
              <div class="centered-box card w-100 bg-transparent border-0">
                <div class="card-body">

                  <p>
                    <i class="bi bi-exclamation-triangle text-warning"></i>
                    Any performed modifications to the current profile
                    must be saved before leaving the page.
                  </p>

                  <p><small id="flash-message" class="text-danger fw-bold"></small></p>

                {{#user}}
                  <!-- form inputs -->

                  <input id="idUser" name="idUser" type="hidden" value="{{id}}">
                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="first-name-label">
                      <i class="bi bi-person-plus"></i>
                    </span>
                    <input id="first-name" value="{{firstName}}" type="text" class="form-control" placeholder="First Name"
                          aria-label="First Name" aria-describedby="first-name-label">
                  </div>

                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="surname-label">
                      <i class="bi bi-person-dash"></i>
                    </span>
                    <input id="surname" value="{{surname}}" type="text" class="form-control" placeholder="Surname"
                          aria-label="Surname" aria-describedby="surname-label">
                  </div>

                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="email-label">
                      <i class="bi bi-envelope-fill"></i>
                    </span>
                    <input id="email" value="{{email}}" type="text" class="form-control" placeholder="Email"
                          aria-label="Email" aria-describedby="email-label">
                  </div>

                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="address-label">
                      <i class="bi bi-house-door-fill"></i>
                    </span>
                    <input id="address" value="{{address}}" type="text" class="form-control" placeholder="Address"
                          aria-label="Address" aria-describedby="address-label">
                  </div>

                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="password-label">
                      <i class="bi bi-key-fill"></i>
                    </span>
                    <input id="password" type="password" class="form-control" placeholder="New Password"
                          aria-label="Password" aria-describedby="password-label">
                  </div>

                  <div class="input-group mb-3 px-2">
                    <span class="input-group-text bg-transparent text-white" id="confirm-password-label">
                      <i class="bi bi-key"></i>
                    </span>
                    <input id="confirm-password" type="password" class="form-control" placeholder="Confirm New Password"
                          aria-label="Confirm Password" aria-describedby="confirm-password-label">
                  </div><!-- / form inputs -->
                {{/user}}
                  <p class="card-text">
                    <small class="text-danger fw-light">Multiple modifications may result in a ban.</small>
                  </p>
                  <button id="confirm-changes-button" type="button" class="btn btn-sm btn-outline-light">
                    Confirm changes
                  </button>
                </div>
              </div><!-- / personal info box -->

            </div>
          </div>
        </div>
      </div>

    </div><!-- / personal information -->

    <!-- profile picture -->
    <div class="col-lg-5 col-md-10 col-sm-10 col-10 border border-light rounded p-1 pt-4 m-4 text-white">

      <!-- title -->
      <h5 class="text-center px-3">
        <i class="bi bi-person-circle"></i>
        <span class="animated-link">Profile Picture</span>
      </h5><!-- title -->

      <div class="container">
        <div class="row align-items-center h-100">
          <div class="col-12 mx-auto">
            <div class="jumbotron text-center">

              <!-- personal info box -->
              <div class="centered-box card w-100 bg-transparent border-0">
                <div class="card-body">

                  <div class="row">
                    <div class="col-12">
                      <div class="text-center" >
                        <img id="profile-picture" src="./img/profile.png"/>
                      </div>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-12 mt-4 mb-4">
                      <div class="text-center mb-4" >
                        Your profile picture will be only visible
                        to technical support or administrators, but
                        it <span class="fw-bold">won't be public</span>.
                      </div>
                      <div class="input-group">
                        <input type="file" class="form-control bg-transparent text-white" aria-label="Upload">
                      </div>
                    </div>
                  </div>

                </div>
              </div><!-- / personal info box -->

            </div>
          </div>
        </div>
      </div>

    </div><!-- / profile picture -->

  </div>
</div><!-- / profile info-->

</main>

{{> footer}}