{{> header}}

<main>

<!-- page title -->
<div class="d-flex justify-content-center text-white text-center">
  <div class="row">
    <div class="col-12 px-5">
      <h3>
        <span>My Services</span>
      </h3>
      <p class="text-secondary mb-0">
        <span class="fst-italic">
          "Manage your services easily from
          this user panel, click renew and enjoy!"
        </span>
      </p>
    </div>
  </div>
</div><!-- / page title -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- hired services -->
<div class="row px-5 mx-0 mb-5">
  <div class="col-12">
    <table class="table table-bordered border-secondary text-white text-center">

      <!-- table header -->
      <thead>
        <tr>
          <th scope="col">
            <div class="d-flex align-items-center justify-content-center" style="height: 50px">
              Service
             </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center justify-content-center" style="height: 50px">
              Configuration
             </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center justify-content-center" style="height: 50px">
              Manage
             </div>
          </th>
          <th scope="col">
            <div class="d-flex align-items-center justify-content-center" style="height: 50px">
              Expiration Date
             </div>
          </th>
        </tr>
      </thead><!-- / table header -->

      <tbody id="services-list">



      </tbody>

    </table>

    <!-- load more button -->
    <div class="row">
      <div class="col-12 text-center">
        <button type="button" class="load-more-button btn btn-sm btn-outline-light" data-daw-loading-element="loading-more">
          <i class="bi bi-plus-circle"></i>
          <span class="align-middle">Load more</span>
        </button>
      </div>
    </div><!-- / load more button -->

    <!-- load more button -->
    <div id="loading-more" class="row d-none">
      <div class="col-12 text-center text-white">
        <div class="d-flex justify-content-center">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </div>
    </div><!-- / load more button -->

  </div>

</div><!-- / hired services -->


</main>

{{> footer}}