{{> header}}

<main>

<!-- service expired alert -->
{{#orderIsExpired}}
<div id="flash-message" class="row m-0">
  <div class="col m-2">
    <div class="alert alert-transparent text-danger border border-danger fade show text-center" role="alert">
      <strong>Your service seems to be expired</strong>
      <span>You can't renew it, if you want another one feel free to order
        it</span>
    </div>
  </div>
</div><!-- / service expired alert -->
{{/orderIsExpired}}

<!-- page title -->
<div class="d-flex justify-content-center text-white text-center">
  <div class="row">
    <div class="col-12 px-5">
      <h3>SERVICE OVERVIEW</h3>
    </div>
  </div>
</div><!-- / page title -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- first content -->
<div class="row px-5 py-0 m-0">
  <div class="col-12 px-5 py-0 text-center text-white">

    <!-- boxes container -->
    <div class="row justify-content-center">

      <!-- service details -->
      <div class="col-lg-4 col-sm-10 col-xs-12">

        <!-- title -->
        <h5>
          <i class="bi bi-newspaper"></i>
          <span class="animated-link">Service Details</span>
        </h5><!-- / title -->

        <!-- content -->
        <div class="container border border-secondary rounded p-2" style="height: 150px">
          <div class="row align-items-center h-100" style="font-size: 14px">
            <div class="col-12 mx-auto">
              <div class="jumbotron">

                <!-- service id -->
                <div class="d-block">
                  <span class="fw-bold">Service Id:</span>
                  <span id="service-id">{{orderId}}</span>
                </div><!-- / service id -->

                <!-- service category -->
                <div class="d-block">
                  <span class="fw-bold">Category:</span>
                  <span id="service-category">{{orderCategory}}</span>
                </div><!-- / service category -->

                <!-- service purchase date -->
                <div class="d-block">
                  <span class="fw-bold">Purchase Date:</span>
                  <span id="service-purchase">{{orderPurchaseDate}}</span>
                </div><!-- / service purchase date -->

                <!-- service expiry date -->
                <div class="d-block">
                  <span class="fw-bold">Expiry Date:</span>
                  <span id="service-expiry">{{orderExpiryDate}}</span>
                </div><!-- / service expiry date -->

              </div>
            </div>
          </div>
        </div><!-- / content -->

      </div><!-- / service details -->

      <!-- service actions-->
      <div class="col-lg-4 col-sm-10 col-xs-12">
        <!-- title -->
        <h5>
          <i class="bi bi-disc"></i>
          <span class="animated-link">Service Actions</span>
        </h5><!-- / title -->

        <!-- content -->
        <div class="container border border-secondary rounded p-2" style="height: 150px">
          <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
              <div class="jumbotron">

                <!-- renew service button -->
                <div class="d-block">
                  <button onclick="location.href='/order/{{orderId}}/renew';" id="renew-button" type="button" class="btn btn-outline-success btn-sm mb-2">
                    Renew Service
                  </button>
                </div><!-- / renew service button -->

                <!-- cancel service button -->
                <div class="d-block">
                  <button onclick="location.href='/order/{{orderId}}/cancel';" id="cancel-button" type="button" class="btn btn-outline-danger btn-sm mb-2">
                    Cancel Service
                  </button>
                </div><!-- / cancel service button -->

                <!-- download receipt button -->
                <div class="d-block">
                  <button onclick="location.href='/order/{{orderId}}/export_pdf';" id="receipt-button" type="button" class="btn btn-outline-light btn-sm mb-2">
                    Download Receipt
                  </button>
                </div><!-- / download receipt button -->

              </div>
            </div>
          </div>
        </div><!-- / content -->

      </div><!-- / service actions-->

      <!-- server status -->
      <div class="col-lg-4 col-sm-10 col-xs-12">

        <!-- title -->
        <h5>
          <i class="bi bi-layers"></i>
          <span class="animated-link">Server Status</span>
        </h5><!-- / title -->

        <!-- content -->
        <div class="container border border-secondary rounded p-2" style="height: 150px">
          <div class="row align-items-center h-100">
            <div class="col-12 mx-auto">
              <div class="jumbotron">

                <!-- cpu bar -->
                <div class="d-block mb-1">
                  <div class="progress" data-bs-toggle="tooltip" title="CPU Usage Percentage (%)">
                    <div id="statistic-cpu" class="progress-bar bg-primary" role="progressbar" aria-valuenow="0"
                      aria-valuemin="0" aria-valuemax="100">
                      <small class="fw-bold">
                        <span>CPU:</span>
                        <span id="statistic-cpu-percentage">0</span>
                        <span>%</span>
                      </small>
                    </div>
                  </div>
                </div><!-- / cpu bar -->

                <!-- ram bar -->
                <div class="d-block mb-1">
                  <div class="progress" data-bs-toggle="tooltip" title="RAM Usage Percentage (%)">
                    <div id="statistic-ram" class="progress-bar bg-success" role="progressbar" aria-valuenow="0"
                      aria-valuemin="0" aria-valuemax="100">
                      <small class="fw-bold">
                        <span>RAM:</span>
                        <span id="statistic-ram-percentage">0</span>
                        <span>%</span>
                      </small>
                    </div>
                  </div>
                </div><!-- / ram bar -->

                <!-- support info -->
                <div class="d-block mb-1">
                  <small class="m-0 p-0 fw-light">
                    <i class="bi bi-info"></i>
                    <span>If you are having any trouble call technical
                      support.</span>
                  </small>
                </div><!-- / support info -->

                <!-- on service started buttons -->
                <div class="d-block mb-1">
                  <button id="start-server" type="button" class="btn btn-sm btn-outline-success d-none"
                    style="width: 110px">
                    Start Server
                  </button>
                  <div id="stop-restart-server" class="btn-group" role="group">
                    <button id="stop-server" type="button" class="btn btn-sm btn-outline-danger"
                      style="width: 110px">
                      Stop Server
                    </button>
                    <button id="restart-server" type="button" class="btn btn-sm btn-outline-warning"
                      style="width: 110px">
                      Restart Server
                    </button>
                  </div>
                </div><!-- / on service started buttons -->

                <!-- restart server spinner -->
                <div id="restart-server-info" class="d-none text-white">
                  <div class="spinner-grow" style="width: 1rem; height: 1rem" role="status">
                    <span class="visually-hidden">Restarting Server...</span>
                  </div>
                  <span>Restarting Server...</span>
                </div><!-- / restart server spinner -->

              </div>
            </div>
          </div>
        </div><!-- / content -->

      </div><!-- / server status -->

    </div><!-- / boxes container -->

  </div>

</div><!-- / first content -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<!-- second content -->
<div class="row px-5 py-0 m-0">
  <div class="col-12 px-5 py-0 text-center text-white">

    <!-- box container -->
    <div class="row justify-content-center">

      <!-- connection details -->
      <div class="col-lg-12 col-sm-10 col-xs-12">

        <!-- title -->
        <h5>
          <i class="bi bi-globe"></i>
          <span class="animated-link">Connection Details</span>
        </h5><!-- / title -->

        <!-- content -->
        <div class="container border border-secondary rounded">
          <div class="row align-items-center h-100" style="font-size: 14px">

            <!-- left side -->
            <div class="col-lg-6 col-sm-12 col-xs-12 mx-auto">
              <div class="jumbotron">
                <div class="row p-3">
                  <div class="col-12 pt-2 border border-secondary rounded">

                    <!-- public ip address -->
                    <div class="row mb-2">
                      <div class="col-lg-4 col-sm-12 col-xs-12 text-center">
                        <i class="bi bi-at"></i>
                        <span >Public IP Address:</span>
                      </div>
                      <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
                        <input readonly type="text" id="server-ip-address"
                          class="text-center bg-transparent text-white border border-light w-100" value="127.0.0.1" />
                      </div>
                    </div><!-- / public ip address -->

                    <!-- ssh port -->
                    <div class="row mb-2">
                      <div class="col-lg-4 col-sm-12 col-xs-12 text-center">
                        <i class="bi bi-door-open"></i>
                        <span>SSH Port:</span>
                      </div>
                      <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
                        <input readonly type="text" id="server-port"
                          class="text-center bg-transparent text-white border border-light w-100" value="22" />
                      </div>
                    </div><!-- / ssh port -->

                  </div>
                </div>
              </div>
            </div><!-- / left side -->

            <!-- right side -->
            <div class="col-lg-6 col-sm-12 col-xs-12 mx-auto">
              <div class="jumbotron">
                <div class="row p-3">
                  <div class="col-12 pt-2 border border-secondary rounded">

                    <!-- ssh user -->
                    <div class="row mb-2">
                      <div class="col-lg-4 col-sm-12 col-xs-12 text-center">
                        <i class="bi bi-person"></i>
                        <span>SSH User:</span>
                      </div>
                      <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
                        <input readonly type="text" id="server-user"
                          class="text-center bg-transparent text-white border border-light w-100" value="root" />
                      </div>
                    </div><!-- / ssh user -->

                    <!-- ssh password -->
                    <div class="row mb-2">
                      <div class="col-lg-4 col-sm-12 col-xs-12 text-center">
                        <i class="bi bi-key"></i>
                        <span>SSH Password:</span>
                      </div>
                      <div class="col-lg-8 col-sm-12 col-xs-12 text-center">
                        <input readonly type="text" id="server-pass"
                          class="text-center bg-transparent text-white border border-light w-100"
                          value="dGhldHJ1dGhpc291dHRoZXJl" />
                      </div>
                    </div><!-- / ssh password -->

                  </div>
                </div>
              </div>
            </div><!-- / right side -->

          </div>
        </div><!-- / content -->

      </div><!-- / connection details -->

    </div><!-- / box container -->

  </div>

</div><!-- / second content -->

<!-- horizontal line -->
<div class="container text-light mt-0">
  <hr />
</div><!-- / horizontal line -->

<div class="row px-5 mt-2 py-0 m-0">
  <div class="col-12 px-5 py-0 text-center text-white">

    <!-- title -->
    <h5>
      <i class="bi bi-question-circle"></i>
      <span class="animated-link">Technical Support</span>
    </h5><!-- / title -->
    <p>
      <pre >tech.support@dawhostservices.com</pre>
    </p>
  </div>
</div>
</main>

{{> footer}}